.pagina-cursos-detalhes-completo {
    background: #071522;
    min-height: 85vh;
    color: white;
    padding: 60px 80px;
    font-family: "Inter", sans-serif;
}


.conteudo-cursos-detalhes-completo {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



.area-informacoes-cursos-detalhes-completo {
    flex: 1;
}



.breadcrumb-cursos-detalhes-completo {
    color: #758292;
    font-size: 14px;
    margin-bottom: 25px;
    text-decoration: none;
}


.breadcrumb-cursos-detalhes-completo span {
    margin: 0 10px;
}



.tags-cursos-detalhes-completo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}



.tags-cursos-detalhes-completo span {
    padding: 6px 13px;
    border-radius: 20px;
    font-size: 12px;
}



.tag-principal-cursos-detalhes-completo {
    background: #251d22;
    color: #ff6335;
    border: 1px solid #ff6335;
}


.tag-popular-cursos-detalhes-completo {
    background: #ff6335;
}


.tag-nivel-cursos-detalhes-completo {
    background: #1b2937;
    color: #b7c0ca;
}



.titulo-cursos-detalhes-completo {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 20px;
}



.descricao-cursos-detalhes-completo {
    color: #9aa8b8;
    font-size: 16px;
    line-height: 1.7;
}



.avaliacao-cursos-detalhes-completo {

    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 35px;
    flex-wrap: wrap;
}



.estrelas-cursos-detalhes-completo {
    color: #ffc400;
}


.nota-cursos-detalhes-completo {
    color: #ffc400;
}


.alunos-cursos-detalhes-completo,
.item-info-cursos-detalhes-completo {
    color: #8b99aa;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;

}



.instrutor-cursos-detalhes-completo {

    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 35px;

}


.foto-instrutor-cursos-detalhes-completo img {

    width: 45px;
    height: 45px;
    border-radius: 50%;

}


.instrutor-cursos-detalhes-completo span {

    display: block;
    color: #7e8b99;
    font-size: 13px;

}


.instrutor-cursos-detalhes-completo strong {

    display: block;
    margin-top: 5px;

}




.card-compra-cursos-detalhes-completo {

    width: 390px;
    background: #111d2b;
    border: 1px solid #243244;
    border-radius: 18px;
    overflow: hidden;

}



.imagem-curso-cursos-detalhes-completo {

    position: relative;

}



.imagem-curso-cursos-detalhes-completo img {

    width: 100%;
    height: 180px;
    object-fit: cover;

}



.desconto-cursos-detalhes-completo {

    position: absolute;
    right: 15px;
    top: 15px;
    background: #ff6335;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;

}



.conteudo-card-cursos-detalhes-completo {

    padding: 22px;

}



.preco-cursos-detalhes-completo {

    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 8px;

}



.preco-antigo-cursos-detalhes-completo {

    display: inline-block;
    margin-left: 10px;
    color: #657080;
    text-decoration: line-through;

}



.economia-cursos-detalhes-completo {
    color: #ff6335;
    font-size: 13px;
    display: flex;
    gap: 5px;
    align-items: center;
}



.botao-principal-cursos-detalhes-completo {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 10px;
    background: #ff6335;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    font-size: 17px;

}



.botao-secundario-cursos-detalhes-completo {

    width: 100%;
    height: 42px;
    margin-top: 10px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #465465;
    color: white;

}



.garantia-cursos-detalhes-completo {

    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #263444;
    font-size: 13px;
    color: #738293;

}



.beneficios-cursos-detalhes-completo {

    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;

}

.beneficios-cursos-descritivo {
    display: flex;
    gap: 10px;
    align-items: center;

}

.icone-beneficios-curso {
    display: flex;
}

.beneficios-cursos-detalhes-completo li {
    color: #8290a0;
    font-size: 13px;
    margin-bottom: 14px;

}



/* RESPONSIVO */

@media(max-width:900px) {

    .pagina-cursos-detalhes-completo {
        padding: 40px 20px;
    }


    .conteudo-cursos-detalhes-completo {

        flex-direction: column;

    }


    .card-compra-cursos-detalhes-completo {

        width: 100%;

    }


    .titulo-cursos-detalhes-completo {

        font-size: 32px;

    }

}